html {
  scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.Registration, .Login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.fields {
	margin: 10px;
}
.buttons button {
	margin: 10px;
}
.message {
	padding: 5px;
}
.error {
	border: solid #ec5555 2px;
}

.logo {
	margin-top:-27px;
	height: 100px;
}

.navbar-text {
	color: #27496d !important;
}

.navbar {
	margin-bottom: 0px;
	height: 70px;
}

.bg-dark {
	background-color: orange;
}
.navbar-light {
	padding-top: 0px;
	padding-bottom: 10px;
	background-color: #ffffff;
}

.nav-item.nav-link {
	margin-right: 15px;
	margin-left: 15px;
	font-size: 17px;
	font-weight: 400;
	font-family: Sans-serif;
	color:rgb(0,0,0,0.8) !important;
}

.nav-item.nav-link:hover {
	margin-right: 15px;
	margin-left: 15px;
	font-size: 17px;
	font-family: Sans-serif;
	color:#27496d !important;
}

.jumbotron.login-jumbotron{
	margin-top: 100px;
	background-color: #ffffff !important;
	width: 33%;
	color: #000000;
	height:auto;
	overflow: auto;
}

.jumbotron.new-jumbotron{
	margin-top: 120px;
	background-color: #ffffff !important;
	width: 50%;
	color: #000000;
	height:auto;
	overflow: auto;
}

.login-form {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

label {
	font-size: 20px;
	font-weight: initial !important;
}

form {
	text-align: left;
}
h2 {
	font-size: 30px !important;
	font-weight: bold !important;
}

.form-group {
	padding-top: 15px;
}

.btn-primary {
	background-color: #ffffff !important;
	height:45px;
	width: 150px;
	border-radius: 1000px !important;
	font-weight: bold !important;
	font-size:20px !important;
	color: #00909e !important;
	border-color: #00909e !important;
	border-width: 2px !important;
}

.btn-primary:hover {
	color: #ffffff !important;
	background-color: #00909e !important;
	border-color: #00909e !important;
}

hr {
	border-top-color: black !important;
	width: 75%;
}

.change-color {
	color: #00909e !important;
}
.card {
 	margin: 15px;
 	border-top-color: black !important;
 	border-left-color: black !important;
 	border-bottom-color: orange !important;
	border-right-color: orange !important;
}

.show {
	margin-top: 30px;
	margin-bottom: 20px;
}
.card-text {
	font-size: 16px;
	padding: 20px;
}
.media {
	border-style: solid;
	border-bottom-color: orange;
	border-right-color: orange;
	padding: 20px;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h3 {
	font-size: 25px !important;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
	font-size: 18px;
	color:#000000;
	border: 2px solid #ffffff;
	border-radius: 8px;
	padding: 12px 12px;
	box-shadow:0px 8px 15px 0px #dae1e7;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="number"]:hover {
	font-size: 18px;
	color:#000000;
	border: 2px solid #ffffff;
	border-radius: 8px;
	padding: 12px 12px;
	box-shadow:0px 8px 20px 5px #dae1e7;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus {
	font-size: 18px;
	color:#000000;
	border: 1.5px solid #00909e;
	border-radius: 8px;
	box-shadow:0px 8px 20px 0px #dae1e7;
}
.errorMessage {
	display:block;
	padding-top:10px;
	font-size:17px;
}

.user-panel {
	background: white;
	width:auto;
	height:auto;
	overflow: auto;
}

.user {
	padding:20px;
}

.danger {
	background: #00909e;
	padding:20px;

}

.danger .btn {
	background-color: #dae1e7 !important;
	height:35px;
	width: 150px;
	border-radius: 1000px !important;
	font-weight: bold !important;
	font-size:15px !important;
	color: #000000 !important;
	border-color: #dae1e7 !important;
}

.danger .btn:hover {
	background-color: #27496d !important;
	height:35px;
	width: 150px;
	border-radius: 1000px !important;
	font-weight: bold !important;
	font-size:15px !important;
	color: #ffffff !important;
	border-color: #27496d !important;
}

.whitebutton {
	background-color: #dae1e7 !important;
	border-radius: 1000px !important;
	font-weight: bold !important;
	font-size:15px !important;
	color: #000000 !important;
	border-color: #dae1e7 !important;
	padding: 10px 50px;
}

.whitebutton:hover {
	background-color: #27496d !important;
	color: #ffffff !important;
	border-color: #27496d !important;
}

.whitebutton a {
	color: #000000;
	background: transparent;
	text-decoration: none;
}

.whitebutton a:hover{
	color: #ffffff;
	background: transparent;
	text-decoration: none;
}

.not-in-danger {
	background: #dae1e7;
	padding:20px;
}

.bottom {
	padding-top:1px;
}


.link, .link:hover {
	color: #ffffff;
	background: transparent;
	text-decoration: none;
}

.table, .table-borderless, td {
	text-align: center; 
	vertical-align: middle;
	font-size:15px;
}

#home-section, #features-section {
	background-color: #ffffff !important;
}

.section-jumbotron {
	max-width: 1200px;
	overflow-x: hidden;
}

.jumbotron {
	background-color: transparent !important;
}

.contact-column {
	text-align: left;
}

.contact-column.col1 {
	padding-right: 40px!important;
}

.contact-column.col2 {
	padding-left: 40px!important;
}

.list-text {
	padding-left: 20px;
	color: #142850;
}

.line {
	width:150px;
	height: 5px;
	background:linear-gradient(to right, #142850,#00909e);
	margin-bottom: 10px !important;
}

p.section-heading {
	color: #27496d !important;
	font-weight: bold !important;
}

.tagline {
	color: #00909e;
}

#contact-btn {
	background-color: transparent !important;
	color: #27496d !important;
	border-color: #27496d !important;
}

#contact-btn:hover {
	background-color: #27496d !important;
	color: #ffffff !important;
}

.site-footer {
	background-color: #142850;
	padding-left: 60px;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	color: white;
}

.site-footer p {
	padding-left: 40px;
	font-size: 18px;
}

ul li {
	list-style: none;
	font-size: 17px;
}

#contact-section ul {
	padding-left: 0px !important;
}

.footer-link {
	color: rgb(218, 225, 231, 0.6);
}

.footer-link:hover {
	color: white !important;
	text-decoration-line: none !important;
}

.section-p {
	margin-top: 40px;
	font-size: 18px !important;
	color: rgb(0, 0, 0, 0.6);
	margin-bottom: 30px !important;
}

small {
	font-size: 13px !important;
}